body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #4CAF50;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button.delete-btn {
    background-color: #f44336;
    margin-left: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:nth-child(even) {
    background-color: #f1f1f1;
} 
li.overdue {
    color: #ff4d4f; 
    font-weight: bold;
}
